* {
    padding: 0;
    margin: 0;
}

.header{
    .sticky{
        position: fixed;
        top: 0;
        height: 10vh;
        width: 100vw;
        z-index: 3;
        box-shadow: #111 10px;
        background-color: #111;
        img{
            position: fixed;
            width: 45px;
            height: 45px;
        }
        h1{
            font-size: xx-large;
            color: #fff44f;
            top: 0;
            left: 0;
            text-align: center;
            text-shadow: #f83a00dc 4px 4px;
        }
    }
}




