* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #111;
    background-position: center;
    color: #fff44f;
}

header {
    font-family: cursive;
    color: #fff44f;  
    position: sticky;
    left: 30vw;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px rgb(0, 0, 0);
    text-align: center;
}
main {
    p{
        box-sizing: border-box;
        width: 100vw;
        height: 33vh;
        font-weight: bolder;
        font-family: cursive;
        font-size: large;
        color: #fff44f;
        text-transform: capitalize;
        .one {
            box-sizing: content-box;
            width: 33vw;
        }
    }
}