* {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #111;
  background-position: center;
  color: #fff44f;
}

header {
  font-family: cursive;
  color: #fff44f;
  position: -webkit-sticky;
  position: sticky;
  left: 30vw;
  border: 1px solid black;
  -webkit-box-shadow: 2px 2px black;
          box-shadow: 2px 2px black;
  text-align: center;
}

main p {
  width: 100vw;
  height: 33vh;
  font-weight: bolder;
  font-family: cursive;
  font-size: large;
  color: #fff44f;
  text-transform: capitalize;
}

main p .one {
  position: relative;
  width: 33vw;
  height: 20vh;
}

main p .two {
  position: relative;
  width: 33vw;
  height: 20vh;
}

main p .three {
  position: relative;
  top: 200px;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.toggle {
  position: absolute;
  top: .5px;
  right: .5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  top: 0.5px;
  right: 0.5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.hamburger div {
  position: absolute;
  width: 50%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff44f;
  -webkit-transition: .4s;
  transition: .4s;
}

.hamburger div::before {
  content: '';
  top: -10px;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff44f;
}

.hamburger div::after {
  content: '';
  top: 10px;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #fff44f;
}

.toggle:checked + .hamburger div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.toggle:checked + .hamburger div::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.toggle:checked + .hamburger div::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.toggle:checked:hover + .hamburger div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: .6s;
  transition: .6s;
}

.toggle:checked ~ .menu {
  visibility: visible;
}

.toggle:checked ~ .menu div {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
}

.toggle:checked ~ .menu div div {
  opacity: 1;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  -webkit-transition: .6s;
  transition: .6s;
}

.menu div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  border-radius: 0%;
  top: 0%;
  right: 0%;
  -webkit-transform: translateX(200%) translateY(0%);
          transform: translateX(200%) translateY(0%);
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: .6s;
  transition: .6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu div div {
  max-width: 90vw;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  opacity: 0;
}

.menu div div ul li {
  list-style: none;
}

.menu div div ul li a {
  text-decoration: none;
  margin: 0.5px;
  display: inline-block;
  font-weight: 550;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu div div ul li a:hover {
  color: #fff44f;
}
/*# sourceMappingURL=about.css.map */