* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #111;
    color: #fff44f;
}

article{
    padding-top: 30px;
    text-align: center;
    font-size: larger;
    p {
        padding-top: 20px;
        text-shadow: #f83a00dc 2px 2px 2px;
    }
    .hours {
        padding-top: 20px;
        text-shadow: #f83a00dc 2px 2px 2px;
        line-height: 1.5;
    }
    h1 {
        padding-top: 20px;
        text-shadow: #f83a00dc 4px 4px;
    }
}


iframe{
    position: relative;
    width: 100vw;
    padding-top: 10px;
}
@import '_footer';
@import '_header';
@import "_navMenu";

@media only screen and (min-width: 700px) {

    article{
        .contact{
            position: relative;
            top: 40px;
            left: 0;
            width: 50vw;
            font-size: larger;
            p{
                line-height: 2;
            }
        }
        .hours{
            position: absolute;
            top: 45px;
            right: 0;
            width: 50vw;
            font-size: larger;
            p{
                line-height: 2
            }
        }
        .location{
            padding-top: 30px;
        }
    }

    @import '_footer';
    @import '_header';
    @import "_navMenu";
}
