* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: #fff44f;
}

header {
    h1{
    font-family: cursive;
    font-size: 3em;
    color: #fff44f;
    position: sticky;
    top: 10px;
    left: 30vw;
    text-align: center;
    }
}

@import "_navMenu"