* {
    padding: 0;
    margin: 0;
}
@import '_footer';

body {
    background-color: #111;
    color: #fff44f;
}
iframe{
    position: relative;
    width: 100vw;
}

@import '_header';

@import "_navMenu"