* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #111;
    color: #fff44f;
}


.franchise{
    background-color: #111;
    border: #fff44f solid 2px;
}


iframe{
    position: relative;
    width: 100vw;
}
@import '_footer';
@import '_header';
@import "_navMenu"