* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #111;
    color: #fff44f;
}

main{
    padding-top: 50px;
    img{
        width: 100vw;
        height: 300px;
        padding-top: 10px;
    }
}

.pizza{
    h1{
        border-style: solid;
        border-color: #fff44f;
        text-align: center;
        text-shadow: #f83a00dc 4px 4px;
    }
    h3 {
        text-align: center;
        font-size: x-large;
        text-shadow: #f83a00dc 4px 4px 4px;
    }
    p{
        text-align: center;
        text-shadow: #f83a00dc 2px 2px 2px;
    }
}


.drinks{
    h1{
        border-style: solid;
        border-color: #fff44f;
        text-align: center;
        text-shadow: #f83a00dc 4px 4px;
    }
    h3 {
        text-align: center;
        font-size: x-large;
        text-shadow: #f83a00dc 4px 4px 4px;
    }
    p{
        text-align: center;
        text-shadow: #f83a00dc 2px 2px 2px;
    }
}

.kids{
    h1{
        border-style: solid;
        border-color: #fff44f;
        text-align: center;
        text-shadow: #f83a00dc 4px 4px;
    }
    h3 {
        text-align: center;
        font-size: x-large;
        text-shadow: #f83a00dc 4px 4px 4px;
    }
    p{
        text-align: center;
        text-shadow: #f83a00dc 2px 2px 2px;
    }
}

.dessert{
    h1{
        border: solid;
        border-color: #fff44f;
        text-align: center;
        text-shadow: #f83a00dc 4px 4px;
    }
    h3 {
        text-align: center;
        font-size: x-large;
        text-shadow: #f83a00dc 4px 4px 4px;
    }
    p{
        text-align: center;
        text-shadow: #f83a00dc 2px 2px 2px;
    }
}


@import '_header';
@import "footer";
@import '_navMenu';

@media only screen and (min-width: 700px) {
    
    @import '_header';
    @import "footer";
    @import '_navMenu';


    main{
        .pizza{
            width: 50vw;
        }
        .drinks{
            padding-top: 50px;
            position: absolute;
            top: 0;
            right: 0;
            width: 50vw;
        }
        .kids{
            position: absolute;
            top: 353px;
            right: 0;
            width: 50vw;
        }
        .dessert {
            position: absolute;
            top: 475px;
            right: 0;
            width: 50vw;
        }
    }
}